@*
    Animated background with floating gradient orbs.
    Pure CSS - no JS or canvas needed. GPU-accelerated via transforms.
*@

<div class="animated-bg" aria-hidden="true">
    <div class="orb orb-1"></div>
    <div class="orb orb-2"></div>
    <div class="orb orb-3"></div>
    <div class="orb orb-4"></div>
    <div class="orb orb-5"></div>
    <div class="orb orb-6"></div>
    <div class="orb orb-7"></div>
    <div class="orb orb-8"></div>
    <div class="orb orb-9"></div>
    <div class="orb orb-10"></div>
</div>
